
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #403D43;
    overflow-x: hidden;
    padding-top: 10px;
     font-family: 'Quattrocento Sans', 'sans-serif';
}

.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 2vh; /* Increased text to enable scrolling */
    font-family: 'Quattrocento Sans', 'sans-serif';
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
